<div class="container">
    <section class="mainbox">
        <form #prodForm="ngForm" (ngSubmit)="onSubmit(prodForm,menuId)" class="form-signin">
            <div class="box1">
                <img src="https://cdn.pixabay.com/photo/2015/03/04/22/35/avatar-659651__340.png" alt="image" height="80px" width="80px">
                
                <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
                
                <label for="inputName" class="sr-only">Name</label>
                <input name="name" #name="ngModel" ngModel
                type="text" id="inputEmail" class="form-control" placeholder="Name" required autofocus>
                
                <label for="inputType" class="sr-only">Email address</label>
                <input name="type" #type="ngModel" ngModel
                type="text" id="inputType" class="form-control" placeholder="Type" required autofocus>
                
                <label for="inputAvailability" class="sr-only">Password</label>
                <input name="availability" #availability="ngModel" ngModel
                type="text" id="inputAvailability" class="form-control" placeholder="Availability" required>
                
                  
                <label for="inputPrice" class="sr-only">Role</label>
                <input name="price" #price="ngModel" ngModel
                type="text" id="inputPrice" class="form-control" placeholder="Price" required>


                <label for="inputMenuId" class="sr-only">menuId</label>
                <input name="menuId" #menuId="ngModel" ngModel
                type="text" id="inputMenuId" class="form-control" placeholder="menuId" required>

  
                <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
            </div>
        </form>
    </section>
  </div>