<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" style="font-family: Arial, Helvetica, sans-serif; font-size: 2rem; font-weight: bold;" href="#">Food<span style="color: #4719d2;">App</span></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    </ul>
  </div>
</nav>

<div style="display: grid; grid-template-columns: 0.5fr 0.5fr;">
  <form #loginForm="ngForm" (ngSubmit)="login(loginForm)" class="form-signin"
    style="min-width: 60%; max-width: 60%; margin: 28vh auto 0px;">
    <br>
    <br>
    <label for="inputEmail" class="sr-only">Email</label>
    <input style="margin-bottom: 10px; height: 45px;" name="email" #email="ngModel" ngModel type="email" id="inputEmail"
      class="form-control" placeholder="Email address" pattern="^[a-zA-Z0-9+_.-]+@[a-zA-Z0-9.-]+$" required>
    <span *ngIf="email.invalid && email.touched" style="color: red;">Invalid email</span>

    <label for="inputPassword" class="sr-only">Password</label>
    <input style="margin-bottom: 10px; height: 45px;" name="password" #password="ngModel" ngModel type="password" id="inputPassword"
      class="form-control" placeholder="Password" required>
    <span *ngIf="password.invalid && password.touched" style="color: red;">Password required</span>

    <button style=" height: 45px;" class="btn btn-primary btn-block" [disabled]="loginForm.valid" type="submit">Sign in</button>
  </form>
  <div>
    <img style="height: 100%; width: 60%; margin-top: 90px;" src="../../assets/images/foodapppic.svg">
  </div>
</div>