<div style="display: flex; flex-direction: column; justify-content: center; text-align: center; margin: 25vh auto;" class="container">
    <h2>Hi manager. Good day!!</h2>
    <div style="display: grid; grid-template-columns: 1fr 1fr 1fr;">
        <div>
            <div class="CTAbutton">
                <h5>Register staff</h5>
            </div>
            <div class="CTAbutton">
                <h5>Create Menu</h5>
            </div>
        </div>
        <div>
            <div class="CTAbutton">
                <h5>Add to menu</h5>
            </div>
            <div class="CTAbutton">
                <h5>Delete Menu</h5>
            </div>
        </div>
        <div>
            <div class="CTAbutton">
                <h5>Update staff</h5>
            </div>
            <div class="CTAbutton">
                <h5>Delete staff</h5>
            </div>
        </div>
    </div>

</div>