<div class="container" style="padding: 10px;">
    <h4>Orders</h4>
    <div class="list-group foodproduct" *ngFor="let f of foodOrderRes.data">
        <a href="javascript:void(0)" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{f.customerName}}</h5>
                <button *ngIf="f.status === 'not-ready'" (click)="updateStatus(f.id)" class="btn btn-outline-secondary">READY</button>
            </div>
            <span>{{f.contactNumber}}</span><br>
            <small> &#8377;{{f.totalPrice}}</small><br>
            <small *ngIf="f.status === 'ready'"><span><i style="color: green; margin-right: 5px;" class="fa-solid fa-square-check"></i></span>Delivered</small>
        </a>
    </div>
</div>